<template name="Notes">
    <div class="notes">
        <h1>Notes</h1>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Highest Scores Possible</h3>
            </div>
            <div class="panel-body">
                <h2>FX</h2>
                <ul>
                    <li>EGI</li>
                    <ul>
                        <li>Alvarino (D)</li>
                    </ul>
                    <li>EGII</li>
                    <ul>
                        <li>Shirai 2 (F)</li>
                    </ul>
                    <li>EGIII</li>
                    <ul>
                        <li>Shirai 3 (H)</li>
                        <li>Ri Jong Song (G)</li>
                        <li>Liukin (G)</li>
                        <li>Shirai (F)</li>
                    </ul>
                    <li>EGIV</li>
                    <ul>
                        <li>Tamayo (F)</li>
                        <li>Penev (F)</li>
                        <li>Korobchynski (E)</li>
                    </ul>
                    <li>EGV</li>
                    <ul>
                    	<li>Front 2.5 (E)</li>
                    </ul>
                    <li>Connection Bonus</li>
                    <ul>
                    	<li>+.8</li>
                    </ul>
                </ul>
                <h4>D-Score: 8.5+0.8 = 9.3</h4>
                <h2>PH</h2>
                <ul>
                    <li>EGI</li>
                    <ul>
                        <li>Li Ning (D)</li>
                    </ul>
                    <li>EGII</li>
                    <ul>
                        <li>Busnari (G)</li>
                        <li>Side Support, Full Spindle, Between Pommels (F)</li>
                    </ul>
                    <li>EGIII</li>
                    <ul>
                        <li>Nin Reyes 2 (E)</li>
                        <li>Driggs (E)</li>
                    </ul>
                    <li>EGIV</li>
                    <ul>
                        <li>Russian Flop (G)</li>
                        <li>Flair Flop (F)</li>
                        <li>Wu Guonian (E)</li>
                        <li>Vammen (E)</li>
                    </ul>
                    <li>EGV</li>
                    <ul>
                    	<li>Dismount (E)</li>
                    </ul>
                </ul>
                <h4>D-Score: 8.0</h4>
                <h2>SR</h2>
                <ul>
                    <li>EGI</li>
                    <ul>
                        <li>O'Neill (E)</li>
                        <li>O'Neill to Li Ning (E)</li>
                    </ul>
                    <li>EGII</li>
                    <ul>
                        <li>Honma Str., Swing to HS (D)</li>
                    </ul>
                    <li>EGIII</li>
                    <ul>
                        <li>Rodrigues (F)</li>
                        <li>Kip to Inverted Swallow (F)</li>
                    </ul>
                    <li>EGIV</li>
                    <ul>
                        <li>Zanetti (F)</li>
                        <li>Carmona (F)</li>
                        <li>Azarian to Maltese (F)</li>
                        <li>Zahran (F)</li>
                    </ul>
                    <li>EGV</li>
                    <ul>
                    	<li>Triple Back Tuck (F)</li>
                    </ul>
                </ul>
                <h4>D-Score: 8.1</h4>
                <h2>VT</h2>
                <h4>D-Score: 6.4</h4>
                <h2>PB</h2>
                <ul>
                    <li>EGI</li>
                    <ul>
                        <li>Zonderland (F)</li>
                    </ul>
                    <li>EGII</li>
                    <ul>
                        <li>Tsokalidis 1 (G)</li>
                        <li>Tsokalidis 2 (F)</li>
                        <li>Li Xiaopeng (F)</li>
                    </ul>
                    <li>EGIII</li>
                    <ul>
                        <li>Quintero (G)</li>
                        <li>Tanaka (F)</li>
                    </ul>
                    <li>EGIV</li>
                    <ul>
                        <li>Zhou Shixiong (G)</li>
                        <li>Teng Hai Bin (F)</li>
                        <li>Chiarlo (E)</li>
                    </ul>
                    <li>EGV</li>
                    <ul>
                    	<li>Hiroyuki Kato (G)</li>
                    </ul>
                </ul>
                <h4>D-Score: 8.8</h4>
                <h2>HB</h2>
                <ul>
                    <li>EGI</li>
                    <ul>
                        <li>Rybalko (D)</li>
                    </ul>
                    <li>EGII</li>
                    <ul>
                        <li>Bretschneider (H)</li>
                        <li>Cassina (G)</li>
                        <li>Shaham (G)</li>
                        <li>Pineda (G)</li>
                    </ul>
                    <li>EGIII</li>
                    <ul>
                        <li>Stalder Rybalko to Double El-Grip (E)</li>
                    </ul>
                    <li>EGIV</li>
                    <ul>
                        <li>Adler Full (E)</li>
                        <li>Adler Half (D)</li>
                    </ul>
                    <li>EGV</li>
                    <ul>
                    	<li>Belle (F)</li>
                    </ul>
                    <li>Connection Bonus</li>
                    <ul>
                    	<li>Adler 1/1 (+.1) Bretschneider (+.2) Cassina (+.2) Shaham (+.2) Pineda (+.1) Adler 1/2 = +.8</li>
                    </ul>
                </ul>
                <h4>D-Score: 8.0+0.8 = 8.8</h4>
                <h2>All Around</h2>
                <h4>D-Score: 49.4</h4>
            </div>
        </div>
    </div>
</template>
